.about-team {
  position: relative;
  z-index: 1;

  text-align: center;
  padding: 145px 0 200px;
  overflow: hidden;

  @media #{$small-up} {
    padding: 215px 0 200px;
  }

  @media #{$medium-up} {
    padding: 300px 0 200px;
  }

  @media #{$large-up} {
    padding: 340px 0 250px;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-title {
    width: 240px;

    @media (min-width: 350px) {
      width: 320px;
    }

    @media #{$small-up} {
      width: 470px;
    }

    @media #{$medium-up} {
      width: 660px;
    }
  }

  p {
    color: $white;
    width: 395px;
    max-width: 100%;
    margin-bottom: 40px;

    @media #{$medium-up} {
      width: 430px;
    }

    @media #{$large-up} {
      width: 585px;
    }
  }
}

.about-team__images {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  .about-team__image {
    position: absolute;
    opacity: 0.65;
    pointer-events: none;

    @media #{$medium-up} {
      opacity: 1;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(5) {
      width: 100px;

      @media #{$small-up} {
        width: 140px;
      }

      @media #{$medium-up} {
        width: auto;
      }
    }

    &:nth-child(1) {
      top: 30px;
      left: 40px;

      @media #{$small-up} {
        top: 40px;
        left: 90px;
      }

      @media #{$medium-up} {
        top: 54px;
        left: 60px;
      }

      @media #{$large-up} {
        top: 124px;
        left: 90px;
      }
    }

    &:nth-child(2) {
      top: 70px;
      right: 25px;

      @media #{$small-up} {
        top: 100px;
        right: 85px;
      }

      @media #{$medium-up} {
        top: 125px;
        right: 85px;
      }

      @media #{$large-up} {
        top: 175px;
        right: 285px;
      }
    }

    &:nth-child(3) {
      top: 320px;
      left: 30px;

      @media #{$small-up} {
        top: 320px;
        left: 30px;
      }

      @media #{$medium-up} {
        bottom: 320px;
        left: 60px;
      }

      @media #{$large-up} {
        bottom: 340px;
        left: 175px;
      }
    }

    &:nth-child(4) {
      bottom: 85px;
      left: 15px;

      @media #{$medium-up} {
        bottom: 85px;
      }

      @media #{$large-up} {
        bottom: 105px;
        left: 30px;
      }
    }

    &:nth-child(5) {
      bottom: 25px;
      right: 50px;

      @media (min-width: 375px) {
        right: 100px;
      }

      @media #{$small-up} {
        right: 150px;
      }

      @media #{$medium-up} {
        bottom: 25px;
        right: 150px;
      }

      @media #{$large-up} {
        bottom: 75px;
        right: 425px;
      }
    }

    &:nth-child(6) {
      bottom: 190px;
      right: 15px;

      @media #{$medium-up} {
        bottom: 230px;
      }

      @media #{$large-up} {
        bottom: 290px;
        right: 30px;
      }
    }

    img {
      filter: grayscale(1);
    }
  }
}

.about-team-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;

  width: 100%;
  height: 100%;
  mix-blend-mode: hard-light;

  background-image: url("../dist/images/about/team-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
