.blog-categories {
  padding: 60px 0;
  background-color: $white;
}

.blog-categories-header {
  margin-bottom: 45px;

  @media #{$xlarge-up} {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .section-title {
    margin-bottom: 20px;

    @media #{$xlarge-up} {
      margin-bottom: 0;
    }
  }
}

.blog-categories-carousel {
  @media #{$large-up} {
    padding-bottom: 0;
  }

  .flickity-button {
    bottom: -5px;

    @media #{$large-up} {
      top: -128px;
      bottom: auto;
    }

    @media #{$xlarge-up} {
      top: -67px;
    }
  }

  .previous {
    left: 0;

    @media #{$large-up} {
      left: 560px;
    }
  }

  .next {
    left: 75px;

    @media #{$large-up} {
      left: 630px;
    }
  }
}

.blog-categories-carousel,
.videos-previews-carousel {
  padding-bottom: 65px;

  .flickity-button {
    width: 50px;
    height: 18px;
  }

  .previous {
    &,
    &:hover {
      background: url("data:image/svg+xml,%3Csvg width='50' height='18' viewBox='0 0 50 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75391 10.1965L1.75391 7.69043L49.7539 7.69043L49.7539 10.1965L1.75391 10.1965Z' fill='%23333333'/%3E%3Cpath d='M0.0010377 8.94345L8.71405 0.0458985L10.498 1.80113L3.50403 8.94345L10.498 16.0848L8.71405 17.84L0.0010377 8.94345Z' fill='%23333333'/%3E%3C/svg%3E%0A")
        no-repeat;
      background-color: transparent;
    }

    &:disabled {
      background: url("data:image/svg+xml,%3Csvg width='50' height='18' viewBox='0 0 50 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75391 10.1965L1.75391 7.69043L49.7539 7.69043L49.7539 10.1965L1.75391 10.1965Z' fill='%23bababa'/%3E%3Cpath d='M0.0010377 8.94345L8.71405 0.0458985L10.498 1.80113L3.50403 8.94345L10.498 16.0848L8.71405 17.84L0.0010377 8.94345Z' fill='%23bababa'/%3E%3C/svg%3E%0A");
    }
  }

  .next {
    &,
    &:hover {
      background: url("data:image/svg+xml,%3Csvg width='50' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 7.69v2.505H0V7.69h48Z' fill='%23333'/%3E%3Cpath d='M49.753 8.942 41.04 17.84l-1.784-1.755 6.994-7.143-6.994-7.141L41.04.046l8.713 8.896Z' fill='%23333'/%3E%3C/svg%3E")
        no-repeat;
      background-color: transparent;
    }

    &:disabled {
      background: url("data:image/svg+xml,%3Csvg width='50' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 7.69v2.505H0V7.69h48Z' fill='%23bababa'/%3E%3Cpath d='M49.753 8.942 41.04 17.84l-1.784-1.755 6.994-7.143-6.994-7.141L41.04.046l8.713 8.896Z' fill='%23bababa'/%3E%3C/svg%3E")
        no-repeat;
    }
  }
}

.blog-categories-carousel__item {
  width: calc(20% - 14px);
  min-width: 180px;
  height: 100px;
  margin: 0 8px;

  background-color: $purple;
  border-radius: 4px;
  transition: background-color 0.3s;

  &:hover {
    background-color: $black-alternative;

    a {
      text-decoration: underline;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: $white;
    font-family: $font-family-termina;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    transition: color 0.3s;

    @media #{$large-up} {
      font-size: 20px;
    }
  }
}

.blog-categories-search {
  width: 315px;
  border-bottom: 1px solid #000000;

  form,
  input {
    width: 100%;
  }

  form,
  button {
    display: flex;
    align-items: center;
  }

  button {
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
  }

  svg {
    width: 18px;
    height: 18px;
  }

  input {
    height: 40px;
    padding-bottom: 5px;
    border: 0;
    outline: 0;

    &::placeholder {
      opacity: 0.5;
    }
  }
}
