.investor-profile {
  padding: 90px 0 60px;

  @media #{$medium-up} {
    padding: 120px 0 90px;
  }

  @media #{$xlarge-up} {
    padding: 160px 0;
  }

  .row {
    @media #{$xlarge-up} {
      display: flex;
      align-items: flex-start;
    }
  }

  .custom-list {
    margin-top: 30px;

    @media #{$small-up} {
      margin-top: 60px;
    }

    @media #{$xlarge-up} {
      margin-top: 0;
    }
  }

  .custom-list__item {
    div {
      @media #{$small-up} {
        grid-template-columns: 175px 1fr;
      }

      @media #{$medium-up} {
        grid-template-columns: 210px 1fr;
      }

      @media #{$xlarge-up} {
        grid-template-columns: 175px 1fr;
      }

      @media #{$xxlarge-up} {
        grid-template-columns: 210px 1fr;
      }
    }
  }
}

.investor-profile__heading {
  p {
    max-width: 100%;

    @media (min-width: 500px) {
      width: 300px;
    }

    @media #{$medium-up} {
      width: 500px;
    }
  }
}

.investor-profile__heading,
.faq-section__heading {
  max-width: 100%;

  @media #{$xlarge-up} {
    margin-right: 80px;
  }

  @media #{$xxlarge-up} {
    margin-right: 100px;
  }

  h2 {
    max-width: 100%;
    font-size: 25px;
    margin-bottom: 30px;

    @media (min-width: 350px) {
      font-size: 27px;
    }

    @media (min-width: 410px) {
      font-size: 30px;
    }

    @media (min-width: 500px) {
      font-size: 35px;
    }

    @media #{$large-up} {
      font-size: 38px;
    }

    span {
      display: block;
    }
  }
}

.investor-profile__heading {
  h2 {
    width: 285px;

    @media (min-width: 410px) {
      width: 350px;
    }

    @media (min-width: 500px) {
      width: 365px;
    }

    @media #{$large-up} {
      width: 460px;
    }
  }
}
