.mb-connections {
  background-color: #000;

  @media #{$large-up} {
    background-position: center;
  }

  @media #{$xlarge-up} {
    padding-top: 190px;
    padding-bottom: 100px;
  }

  .row {
    @media #{$medium-up} {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
}

.mb-connections__content {
  margin-bottom: 40px;

  @media #{$medium-up} {
    margin-bottom: 0;
  }

  h2,
  p {
    max-width: 100%;
  }

  h2 {
    color: #8f7ed7;
    font-size: 25px;
    width: 275px;
    margin-bottom: 20px;

    @media (min-width: 410px) {
      font-size: 30px;
      width: 310px;
    }

    @media #{$small-up} {
      font-size: 35px;
      width: 380px;
    }

    @media #{$xlarge-up} {
      font-size: 54px;
      width: 545px;
    }
  }

  p {
    color: $white;
    width: 350px;
    margin-bottom: 30px;

    @media #{$large-up} {
      font-size: 16px;
    }

    @media #{$xlarge-up} {
      width: 495px;
      font-size: 18px;
    }
  }

  .arrow-animating {
    display: none;
    margin-top: 40px;
    margin-left: auto;
    margin-right: 60px;

    @media #{$medium-up} {
      display: flex;
    }

    @media #{$xlarge-up} {
      margin-top: 0;
      margin-right: 30px;
    }

    @media #{$xxlarge-up} {
      margin-right: 0;
    }
  }
}

.mb-coonections__view {
  position: relative;
  width: 570px;
  max-width: 100%;

  @media #{$large-up} {
    padding-left: 35px;
  }

  @media #{$xlarge-up} {
    padding-left: 65px;
  }

  &:hover {
    img {
      opacity: 0.6;
      filter: none;
    }

    h3 {
      color: $purple;
    }
  }

  img {
    width: 570px;
    filter: grayscale(1);
    transition: opacity 0.3s, filter 0.3s;
  }

  h3 {
    color: $white;
    font-size: 25px;

    width: 305px;
    max-width: 100%;
    margin-bottom: 20px;

    text-transform: uppercase;
    transition: color 0.3s;

    @media #{$small-up} {
      font-size: 30px;
    }

    @media #{$medium-up} {
      font-size: 27px;
      width: 385px;
    }
  }

  svg {
    display: block;
    width: 200px;
    height: 62px;
    margin-bottom: 15px;
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;
  }
}
