.our-values {
  background-image: url('../dist/images/careers/values-background.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  .row {
    @media #{$xlarge-up} {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
    }
  }

  .custom-list {
    margin-top: 30px;

    @media #{$small-up} {
      margin-top: 60px;
    }

    @media #{$xlarge-up} {
      margin-top: 0;
    }
  }

  .custom-list__item {
    div {
      @media #{$small-up} {
        grid-template-columns: 150px 1fr;
      }

      @media #{$medium-up} {
        grid-template-columns: 180px 1fr;
      }

      @media #{$xlarge-up} {
        grid-template-columns: 150px 1fr;
      }

      @media #{$xxlarge-up} {
        grid-template-columns: 180px 1fr;
      }
    }
  }

  h2 {
    margin-right: 60px;
    font-size: 24px;

    @media #{$small-up} {
      font-size: 35px;
    }

    @media #{$large-up} {
      font-size: 40px;
    }

    span {
      display: block;
      font-size: 40px;

      @media #{$small-up} {
        font-size: 50px;
      }

      @media #{$large-up} {
        font-size: 66px;
      }
    }
  }
}
