.our-data-numbers {
  background: transparent linear-gradient(#221D47 0%, #574A9A 100%) 0% 0% no-repeat;

  @media #{$medium-up} {
    background: transparent linear-gradient(110deg, #221D47 0%, #574A9A 100%) 0% 0% no-repeat;
  }

  .section-title {
    span {
      @media (min-width: 1270px) {
        display: block;
      }

      @media #{$xxlarge-up} {
        display: inline;
      }
    }
  }
}

.data-numbers {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @media #{$small-up} {
    grid-template-columns: repeat(2, 1fr);
  }

  @media #{$large-up} {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}

.data-numbers-item {
  background-color: #fff;
  padding: 30px;

  @media #{$large-up} {
    padding: 30px 20px;
  }

  @media #{$xxlarge-up} {
    padding: 30px;
  }
}

.data-numbers-line {
  display: block;
  width: 60px;
  height: 2px;
  background-color: $purple;
  margin-bottom: 5px;
}

.data-numbers-title {
  color: #57479C;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: $font-family-graphie;
  text-transform: uppercase;

  span {
    display: block;
    color: $black;
    letter-spacing: initial;
    margin-top: 3px;
  }

  .number {
    font-size: 36px;
    font-family: $font-family-termina;

    @media #{$medium-up} {
      font-size: 40px;
    }
  }

  .text {
    text-transform: none;
    font-weight: 400;
  }
}
