* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
  background: $white;
  overflow-y: inherit;
}

body {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;

  color: $black;
  font-family: $font-family-graphie;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;

  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $font-family-termina;
  font-weight: 700;
  line-height: 1.2;
}

p,
li {
  margin: 0;
  font-size: 16px;
  // letter-spacing: 1px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
}

a {
  text-decoration: none;
}

img,
figure,
svg {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

img,
figure {
  height: auto;
}

p {
  @media #{$large-up} {
    font-size: 18px;
  }
}

.has-offcanvas,
.has-not-accept-privacy {
  position: fixed;
  top: 0;
  left: 0;
}

.has-offcanvas {
  @media #{$xlarge-up} {
    position: static;
  }
}

.main {
  flex: 1 0 auto; /* 2 */
  width: 100%;
}

.header,
.footer {
  flex: none;
}

.row {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media #{$large-up} {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.gradient-text {
  display: inline !important;
  background: transparent linear-gradient(98deg, #574a9a 0%, #8f80d5 100%) 0% 0%
    no-repeat padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.text-link {
  color: #57479c;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}

.float-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
}

.line-break {
  @media #{$medium-up} {
    display: block;
  }
}

.mb-linkedin-pixel {
  display: none;
}

.fade-in,
.fade-in-up,
.fade-in-scale {
  opacity: 0;
  transition-duration: 0.4s;
  transition-delay: 0.3s;

  &.is-inview {
    opacity: 1;
  }
}

.fade-in-up,
.fade-in-scale {
  transition-property: opacity, transform;
}

.fade-in {
  transition-property: opacity;
}

.fade-in-up {
  transform: translateY(40px);

  &.is-inview {
    transform: none;
  }
}

.fade-in-scale {
  transform: scale(0.8);

  &.is-inview {
    transform: scale(1);
  }
}

.delay-1 {
  transition-delay: 0.6s;
}

.delay-2 {
  transition-delay: 0.9s;
}

.delay-3 {
  transition-delay: 1.2s;
}

.c-scrollbar {
  z-index: 10;
}
