$white: #fff;
$black: #242424;
$black-alternative: #080808;

$dark-blue: #57479c;
$wine: #761023;
$red: #d91f47;
$purple: #8f7ed7;

$body-color: #535353;

$font-family-termina: 'Termina', sans-serif;
$font-family-graphie: 'Graphie', sans-serif;
$headings-font-weight: bold;
