// Typography
// -------------------------
$ff-text: 'Termina';

// Font Size
// ---------
$fs-mobile-p: 14px;
$fs-mobile-h2: 18px;
$fs-mobile-h1: 24px;

$fs-desk-p: 18px;
$fs-desk-h2: 24px;
$fs-desk-h1: 36px;


// Line Height
// ---------
$lh-mobile-p: 21px;
$lh-mobile-h2: 27px;
$lh-mobile-h1: 36px;

$lh-desk-p: 27px;
$lh-desk-h2: 36px;
$lh-desk-h1: 54px;
