.o-footer {
  padding: 1rem 0;
  background-color: #040606;
  position: fixed;
  width: 100%;
  bottom: 0;

  .o-footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.125rem;
    padding: 0 1rem;

    .o-footer-copy {
      display: flex;
      gap: 2.5rem;
      align-items: center;
      justify-content: center;

      strong {
        color: #EAEAE8;

        font-family: "Bw Modelica DEMO";
        font-size: 23px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
      }

      span {
        color: #EAEAE8;

        font-family: "Sofia Sans Condensed";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .o-footer-social {
      display: flex;
      gap: 21px;

      a {
        transition: transform .5s ease;

        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }
}