.o-header {
  position: relative;

  .hamburguer-menu {
    position: fixed;
    top: 4.188rem;
    cursor: pointer;

    .close {
      display: none;
    }

    &.active {
      .open {
        display: none;
      }

      .close {
        display: block;
      }
    }
  }

  .menu {
    position: relative;
    top: 2.188rem;
    left: 4rem;
    display: none;

    &.active {
      display: block;
    }

    .c-main-menu__list {
      display: flex;
      align-items: center;
      gap: 2rem;
      position: fixed;

      .menu-item {
        a {
          color: #CDFF6B;
          font-size: 21.4px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
          /* 21.4px */
        }
      }
    }
  }
}